<div class="banner header-text">
    <div class="owl-banner owl-carousel">
      <div class="banner-item-01" style = "background-image: url({{banner.image_1.url}});">
        <div class="text-content">
          <h4 style ="color:cadetblue;">{{ banner.small_title }}</h4>
          <h2>{{ banner.big_title }}</h2>
        </div>
      </div>
      <div class="banner-item-02" style = "background-image: url({{banner.image_2.url}});">
        <div class="text-content">
          <h4>{{ banner.small_title }}</h4>
          <h2>{{ banner.big_title }}</h2>
        </div>
      </div>
      <div class="banner-item-03" style = "background-image: url({{banner.image_3.url}});">
        <div class="text-content">
          <h4>{{ banner.small_title }}</h4>
          <h2>{{ banner.big_title }}</h2>
        </div>
      </div>
    </div>
  </div>